# LaTeX temp files
*.aux
*.log
*.toc
*.vrb
*.out
*.fdb_latexmk
*.bbl
*.blg

# Misc Files
*.pptx
*.nav
*.snm
.Rhistory
.ipynb_checkpoints/*

# LaTeX output files
*.pdf
*.dvi
*.eps
*concordance.tex

# SyncTeX
*.synctex.gz
.ensime_cache

# ensime
**/\#*
**/~*
.Rproj.user
