# LaTeX temp files
*.aux
*.log
*.toc
*.vrb
*.out
*.fdb_latexmk
*.bbl
*.blg

# Modelling Files
static/models/*
static/data/*
docs/models/*

# Content HTML Files
content/post/*.html

# Content cache
content/post/*files*
content/post/*cache*

# Misc Files
*.pptx
*.nav
*.snm
.Rhistory
*/.ipynb_checkpoints/*
.DS_Store

# LaTeX output files
*.pdf
*.dvi
*.eps
*concordance.tex

# SyncTeX
*.synctex.gz
.ensime_cache

# ensime
**/\#*
**/~*
.Rproj.user
